
.navbar{
  border-radius: 0px;
}
.side-nav{
  position: fixed;
  top: 51px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  bottom: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-bottom: 40px;
  float: left;
}
.side-nav li{
  width: 225px;
  list-style: none;
}
.side-nav a{
  color: #9D9D9D;
}
.left{
  float: left;
}
.chiffre{
  text-align: right;
}
.blue{
  background-color:#337AB7;
  border-radius: 5px;
  /*padding: 0*/
}
.orange{
  background-color:#F0AD4E;
  border-radius: 5px;
}
.green{
  background-color:#5CB85C;
  border-radius: 5px;
}
.red{
  background-color:#D9534F;
  border-radius: 5px;
}
.white{
  color: white;
}
.border{
  border-color: #ddd;
  background-color: #f5f5f5;
  margin-top: 2em;
}
.margin{
  margin-top: 5em
}
.panel-green{
  border-color: #5CB85C;
}
.green2{
  background-color:#5CB85C;
}
