$black: #222;
$grey: #9D9D9D;
$light-grey: #ddd;
$blue-twitter: #337AB7;
$light-orange: #F0AD4E;
$light-green: #5CB85C;
$pink: #D9534F;
$dark-white: #f5f5f5;

$color-titles: $pink;
$color-bg-sidebar: $pink;
